
create_database.py
.vs/AskYourBooks/config/applicationhost.config
.vs/AskYourBooks/FileContentIndex/1846d8b5-8ed1-4e7e-8088-7823aff50406.vsidx
.vs/AskYourBooks/FileContentIndex/87b7968a-a36c-4d8d-87aa-a79a011aac0a.vsidx
.vs/AskYourBooks/FileContentIndex/97b6f848-95c1-4e44-b1ce-287394aad5a5.vsidx
.vs/AskYourBooks/FileContentIndex/cf993454-407f-451c-8138-cea8c7fda08d.vsidx
.vs/AskYourBooks/FileContentIndex/deed1b39-1cd1-42a3-a09d-795b50d76a1a.vsidx
.vs/AskYourBooks/v17/.suo
.vs/AskYourBooks/v17/.wsuo
.vs/AskYourBooks/v17/DocumentLayout.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
__pycache__/pdf_add_to_index.cpython-312.pyc
*.pyproj
static/ebooks/agile_requirements.pdf
static/ebooks/agile_retrospectives.pdf
static/ebooks/blah_lah_blah_vidid_thinking.pdf
static/ebooks/business_model_teams.pdf
static/ebooks/clean_code.pdf
static/ebooks/coaching_habit.pdf
static/ebooks/core_transformation.pdf
static/ebooks/DDD.pdf
static/ebooks/gamestorming.pdf
static/ebooks/GFK.pdf
static/ebooks/great_work.pdf
static/ebooks/improve_retrospectives.pdf
static/ebooks/improve_user_stories.pdf
static/ebooks/karmic_management.pdf
static/ebooks/komplexithoden.pdf
static/ebooks/management30.pdf
static/ebooks/nein_sage_fuer_product_owner.pdf
static/ebooks/phoenix_project.pdf
static/ebooks/reinventing_organizations.pdf
static/ebooks/rethinking-agile.pdf
static/ebooks/spiele_fuer_online_meetings.pdf
static/ebooks/team_topologies.pdf
static/ebooks/twice_the_work.pdf
static/ebooks/zombie_scrum_survival_guide.pdf
AskYourBooks.sln
static/frameworks/2020-Scrum-Gruide_US.pdf
static/frameworks/2020-Scrum-Guide-German.pdf
static/frameworks/2021-Nexus-Guide-English.pdf
static/frameworks/2021-Nexus-Guide-German.pdf
static/frameworks/Kanban-Guide-2020-English.pdf
static/frameworks/Kanban-Guide-2020-German.pdf
*.vsidx
